@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: Hafs;
  src: url("./../assets/fonts/Hafs.ttf");
}

@font-face {
  font-family: Nabi;
  src: url("./../assets/fonts/Nabi.ttf");
}
