$primary: #1976d2;
$secondary: #186351;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$rounded-xs: 4px;
$rounded-sm: 6px;
$rounded-md: 8px;
$rounded-lg: 12px;
$rounded-xl: 16px;
$rounded-2xl: 24px;
$rounded-3xl: 32px;
$rounded-full: 100%;

$green-1: #e1fadc;
$green-2: #87d1a4;
$green-3: #186351;
$green-4: #076c58;
$green-5: #004b40;
